.nav-design {
    background-color: #1a2536 !important;
}

.fonts {
    font-size: 14px !important;
    font-weight: 600 !important;
    color: white !important;
}

/* .color-1 {
    background-color: #1a2536;
    background-size: cover;
    color: white;
} */